body{
    padding-top: 30px;
	text-align: center;
    font-family: "微軟正黑體";
    background-color: #c1d0ff;
    margin: 0 auto;
    max-width: 1000px;
    font-size: 120%;
}

.padding{
    padding: 15px;
}

.link-color{
    color: black;
}